@CHARSET "UTF-8";

p.successmsg{
	border-style: solid;
	background-color: #bdfe32;
	border-color: #fefe32;
	font-size: 14px;
}
p.excepmsg{
	border-style: solid;
	background-color: #fc4f66;
	border-color: #fefe32;
	font-size: 16px;
}
p.inputerror{
	border-style: solid;
	background-color: #fc4f66;
	border-color: #fefe32;
	font-size: 16px;
}
hr { color: #3333cc; width=300; text-align=left;}

table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
  text-align: left;
}


table.rep {
    border-collapse: collapse;
    width: 100%;
}
table.repnw {
    border-collapse: collapse;
}
table.form{
	background: #cccccc;
}

th.rep{
	background: #f69546;
	text-align: left;
}

th.rep-num{
	background: #f69546;
	text-align: right;
}

td.rep {
    text-align: left;
}
td.rep-num {
    text-align: right;
}
tr.rep:nth-child(even){background-color: #f2f2f2;}

tr.rep:hover{background-color:#f5f5f5;}




tr.rptgrp1h{
    border-collapse: collapse;
    width: 100%;
    background-color:#f8f1d9;
}
tr.rptgrp2h {
	border-collapse: collapse;
    width: 100%;
    background-color:#fbf9f2;
}


td.rptgrp1{
	font-size: 15px;
}
td.rptgrp1-num{
	font-size: 15px;
	text-align: right;
}

table.rptgrp2 {
	border-collapse: collapse;
    width: 100%;
    background-color:#fbf9f2;
}
td.rptgrp2{
    font-size: 10px;
}
td.rptgrp2-num{
	font-size: 10px;
	text-align: right;
}
td.rptgrp2-num{
	font-size: 10px;
	text-align: right;
}
table.rptdata {
	border-collapse: collapse;
    width: 100%;
}

tr.rptdata:nth-child(even){background-color: #f2f2f2;}

tr.rptdata{
	background: #fffaf3;
	text-align: left;

}
th.rpthdr{
	font-size: 11px;
	border-bottom: solid;
	border-bottom-width: 1px;
}
th.rpthdr-num{
	font-size: 11px;
	border-bottom: solid;
	border-bottom-width: 1px;
	text-align: right;
}
th.rptsmry{
	font-size: 11px;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-top: solid;
	border-top-width: 1px;
}
th.rptsmry-num{
	font-size: 11px;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-top: solid;
	border-top-width: 1px;
	text-align: right;
}
th.white{
	background: #ffffff;
}
td.white{
	background: #ffffff;
}

th.mtrxh{
	background-color:#f8f1d9;
	vertical-align: bottom;
}
th.mtrxh_num{
	background-color:#f8f1d9;
	text-align: right;
}
td.mtrxd_num{
	text-align: right;
}


/* Used for Data View design  */
a {
    text-decoration: none;
}
a.stk-hld,a.stk-rcd,a.stk-in,a.sle-act {
    background-color: white;
    border: 2px solid #4CAF50;
    padding: 6px 25px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


a.stk-hld:hover, a.stk-rcd:hover,a.stk-in:hover,a.sle-act:hover {
    background-color: #f6d96b;
}
a.stk-hld:active, a.stk-rcd:active,a.stk-in:active,a.sle-act:active {
    background-color: #f6a66b;
}

div {
    //padding: 20px;
    border: 2px solid gray;
    border-color: #f6a66b;
}
